<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brauser</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Roboto:400,300" rel="stylesheet" type="text/css">
    <link href="template/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="template/css/index.css" rel="stylesheet" type="text/css">
    <script src="template/js/jquery.js"></script>
    <script src="template/js/app.js"></script>
  </head>
  <body>
    <div class="container"> 
      <div class="sidebar">
        <nav>